.my-bar {
  position: absolute;
  width: 60%;
  top: 58%;
  left: 18%;
  color: black;
}
.my-bar button {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}
.my-bar button:hover{
  background-color:black;
  color: white;
} 

@media only screen and (max-width: 620px) {
  .my-bar {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 4%;
    color: black;
    font-size: 1.3em;
    border-radius: 12px;
  }
}